<h2>WSDL analyzer</h2>

<% form_tag url_for(:action => :wsdl_analyze), :multipart => true do -%>
  <%= label_tag :file %>
  <%= file_field_tag :file %>
  <br />
  <%= label_tag :url %>
  <%= text_field_tag :url %>
  <br />
  <%= submit_tag %>
<% end -%> 