<div class="span-24">
  <h1 class="page_title"><%= blog.title %></h1>
  <% unless blog.subtitle.blank? %><h2><%= blog.subtitle %></h2><% end %>
  <div class="span-17">
  
    <br />
  
    <%= contents blog %>
  </div>
  <div class="span-5 push-1">
    <code>Date: <%= l blog.created_at.to_date %><br />
    Last update: <%= l blog.updated_at.to_date %></code>
    <br /><br />
    <h3>Tags</h3>
    <% blog.tags.each do |tag| %>
      <%= render tag %>
    <% end %>
  </div>
</div>
<div class="span-24">

    <h3>Comments</h3>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'simplicitblog';
        var disqus_identifier = '<%= blog.id %>';
        var disqus_url = 'http://simplic.it/blog/<%= blog.url_key %>.html';
    
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the
      <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
    <a href="http://disqus.com" class="dsq-brlink">
      blog comments powered by <span class="logo-disqus">Disqus</span>
    </a>

</div>