<div class="span-24">
  <div class="span-17 append-1 colborder">
    <h1><%= controller.name %> <%= params[:action]%></h1>
  </div>
  <div class="span-6 push-1 last">
    &nbsp;
  </div>
</div>

<div class="span-24">
  <div class="span-17 append-1 colborder">
    <h2>About</h2>
    <%= lorem rand(3)+1 %>
    <h2>And so on</h2>
    <%= lorem rand(3)+1 %>
  </div>
  <div class="span-6 push-1 last" style="margin-top: 10px;">
    <h3>Lesser info</h3>
    <%= lorem 2 %>
  </div>
</div>