<div class="span-24 last">
  <h1 class="page_title"><%= @page.title %></h1>
</div>

<div class="span-24">
  <div class="<%= @page.info ? "span-17 append-1 colborder" : "span-24 last" %>">
    <%= @page.contents.html_safe %>
  </div>
  <% if @page.info %>
    <div class="span-6 push-1 last" style="margin-top: 10px;">
      <%= @page.info.html_safe %>
    </div>
  <% end %>
</div>

<hr />

<div class="span-11">
  <div class="blog_on_homepage span-11">
    <h2>Latest blog posts</h2>
    <br />
    <%= render :partial => "blog/on_homepage",
               :collection => @blogs, :as => :blog,
               :spacer_template => "ruler"
   %>
  </div>
</div>

<div class="span-12 leftborder last">
  <div class="span-11 push-1">
    <h2>Latest LifeLine</h2>
    <%= render :partial => "life_line/life_line",
               :collection => @life_lines,
               :locals => { :extra_class => "tiny" } %>
  </div>
</div>