<h1>Portfolio admin</h1>

<div id="order_message"></div>
<ol id="list">
<% @portfolio.each { |p| %>
  <li id="item_<%= p.id %>"> ^ <%= link_to p.name, :action => :edit, :id => p.id %>
  <%= link_to '{ Destroy }', :action => :destroy, :id => p.id %>
  </li>
<% } %>
</ol>

<%= sortable_element(
        "list",
        :url => { :action => :order },
        :update => "order_message"
) %>

<%= link_to "{ New }", :action => :new %>