<% form_for @portfolio, :url => { :action => :edit } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :url %>
  <%= f.text_field :url %>
  <br />
  <%= f.label :image %>
  <%= f.text_field :image %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description, :cols => 120 %>
  <br />
  <br />
  <%= submit_tag %>
  <br />
  <br />
  <strong>Skills</strong>
<% end %>

  <span id="message"></span>
  <div style="display: block">
    <div id="available_skills">
        Skills available:<br />
        <% Skill.all.each do |skill| %>
          <%= render :partial => "skill", :locals => { :skill => skill } %>
        <% end %>
    </div>
    <%= drop_receiving_element "available_skills",
      :with => "'skill_id='+element.id.split('_').last()",
      :url  => { :action => :drop_skill, :id => @portfolio.id },
      :update => "message"
    %>
    <div id="project_skills">
      Project skills:<br />
      <% @portfolio.skills.each do |skill| %>
        <%= render :partial => "project_skill", :locals => { :skill => skill } %>
      <% end %>
    </div>
    <%= drop_receiving_element "project_skills",
      :with => "'skill_id='+element.id.split('_').last()",
      :url  => { :action => :add_skill, :id => @portfolio.id }
    %>
  </div>
  <br style="clear: both;"/>
  <strong>New skill</strong>
  <% form_remote_for Skill.new, :url => { :action => :new_skill } do |f| %>
     <%= f.label :name %>
     <%= f.text_field :name %>
     <br />
     <%= f.label :url %>
     <%= f.text_field :url %>
     <br />
     <%= submit_tag %>
  <% end %>
    
