<div class="comment_block" id="comment_<%= comment.id %>">
  <div class="comment">
    <%= content_filter(comment.comment, true) %>
  </div>

  <div class="commenter">
  By: <%=
   link_to_if((comment.website and !comment.website.empty?), comment.name, comment.website) do
     comment.name
   end
  %> @ <%= comment.created_at.strftime("%Y-%m-%d") %>
  </div>

  <span style="float: right;">
    <% if current_user %>
      <%= link_to_remote "{ delete }", :url => { :action => :delete_comment, :id => comment.id }, :update => "comment_#{comment.id}" %>
    <% end %>
  </span>
</div>
<br style="clear: both" />

