<div class="sidebar">
  <strong>Tags</strong>:

  <% tags = @blog.tags.collect { |tag| tag_link(tag) } %>
  <%= tags.join(", ") %>
  <br />

  <strong>Views: </strong>
  <%= @blog.views %>
  <br />

  <strong>Comments: </strong>
  <%= @blog.comments.length %>
  <br />

  <strong>By:</strong>
  <%= @blog.user.name %>
  <br />

  <strong>Date:</strong>
  <%= @blog.updated_at.strftime("%Y-%m-%d") %>
  <br />
  
  <br />
  <strong>Navigation:</strong><br />
  <% if @blog.has_prev? %>
    <%= link_to "Previous", :action => :view, :id => slug(@blog.prev) %>
  <% end %>

  <% if @blog.has_next? %>
    <% if @blog.has_prev? %>
      |
    <% end %>
    <%= link_to "Next", :action => :view, :id => slug(@blog.next) %>
  <% end %>
  <br />

  <%= link_to "{ Permalink }", :action => :view, :id => slug(@blog) %>
  <br/>
  <br />     
  <strong>Sharing is caring</strong><br />
  <%= link_to image_tag("icons/small/twitter.png", :alt => "Retweet"),
      "http://twitter.com?status=RT+@coffeeaddict_nl+#{@blog.title}+#{url(@blog)}"
  %>
  <%= link_to image_tag("icons/small/facebook.png", :alt => "Share on facebook"),
      "http://www.facebook.com/sharer.php?u=#{url(@blog)}&title=#{@blog.title}"
  %>
  <%= link_to image_tag("icons/small/delicious.png", :alt => "Delicious!"),
      "http://del.icio.us/post?url=#{url(@blog)}&title=#{@blog.title}"
  %>
  <%= link_to image_tag("icons/small/digg.png", :alt => "Digg this"),
      "http://digg.com/submit?url=#{url(@blog)}&title=#{@blog.title}"
  %>
  <%= link_to image_tag("icons/small/redit.png", :alt => "Add to reddit"),
      "http://www.reddit.com/submit?#{url(@blog)}&title=#{@blog.title}"
  %>

  <!-- 
  <%= link_to image_tag("icons/small/wordpress.png") %>
  <%= link_to image_tag("icons/small/blogger.png")  %>
  -->

  <% if current_user %>
    <br />
    <%= link_to "{ Edit }", :action => :edit, :id => @blog.id %>
    <br />
  <% end %>

  <br />
</div>