<h1>Blog Admin</h1>

<div id="order_message"></div>
<ol id="list">
<% @blog.each { |blog| %>
  <li id="item_<%= blog.id %>">
    ^
    <%= link_to blog.title, :action => :edit, :id => blog.id %>
    <%= link_to '{ Destroy }', :action => :destroy, :id => blog.id %>
  </li>
<% } %>
</ol>
<br />

<%= sortable_element(
        "list",
        :url => { :action => :order },
        :update => "order_message"
) %>

<%= link_to "New", :action => :new %>