<h1>Blog edit</h1>

<%= link_to "{ View }", :action => :view, :id => slug(@blog) %>

<% form_for @blog, :url => { :action => :edit } do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />
  <%= f.label :subtitle %>
  <%= f.text_field :subtitle %>
  <br />
  <%= f.label :published %>
  <%= f.check_box :published %>
  <br />
  content:<br />
  <%= f.text_area :content, :cols => 120 %>
  <br /><br />
  <%= submit_tag %>
<% end %>

<br /><br />
  <strong>Tags</strong><br />
  <span id="message"></span>
  <div style="display: block">
    <div id="available_tags">
      <strong>New tag</strong>
      <% form_remote_for Tag.new, :url => { :action => :new_tag } do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= submit_tag %>
      <% end %>
      <br /><br />
      <strong>Tags available:</strong><br />
      <% Tag.all.each do |tag| %>
        <%= render :partial => "tag", :locals => { :tag => tag } %>
      <% end %>
    </div>

    <ul id="blog_tags">
      <strong>Blog tags:</strong><br />
      <% @blog.tags.each do |tag| %>
        <%= render :partial => "blog_tag", :locals => { :tag => tag } %>
      <% end %>
    </ul>
    <div id="add_tags">
      <strong>Drag tags here to add</strong>
    </div>
    <%= drop_receiving_element "add_tags",
      :with => "'tag_id='+element.id.split('_').last()",
      :url  => { :action => :add_tag, :id => @blog.id }
    %>
    <%= sortable_element "blog_tags", :url => { :action => "order_tags", :id => @blog.id } %>
  </div>
  <br style="clear: both;"/>

  <br /><br />
  <strong>Comments</strong>
  <div id="comments">
    <% @blog.comments.each { |comment| %>
      <%= render :partial => "comment", :locals => { :comment => comment } %>
    <% } %>
  </div>