<div class="blog">
<% @blog.each do |blog| %>
  <div class="excerpt">
    <h2>
      <%= link_to( blog.title || "...", :action => :view, :id => slug(blog)) %>
    </h2>
    <% if blog.subtitle %>
      <strong><%= blog.subtitle %></strong>
      <br /><br />
    <% end %>

    <%= excerpt(blog) %>
    <br /><br />
    <div class="tags">
      <strong>Tags:</strong>
      <% blog.tags.each do |tag| %>
         <%= link_to tag.name, :action => :tag, :id => tag.name %>
      <% end %>
    </div>
    <div class="comments">
      <strong>Comments:</strong>
      <%= Comment.count( :conditions => { :blog_id => blog.id } ) %>
    </div>
    <div class="views">
      <strong>Views:</strong>
      <%= blog.views %>
    </div>
    <br style="clear: both" />
  </div>
<% end %>
</div>