<div class="blog">
  <%= render :partial => 'stats' %>
  
  <h2><%=  @blog.title || "..." %></h2>
  <% if @blog.subtitle %>
    <strong><%= @blog.subtitle %></strong>
    <br /><br />
  <% end %>

  <%= @blog.content %>
  <br /><br />

  <br />
  <strong>Comments</strong>
  <div id="comments">
    <% @blog.comments.each { |comment| %>
      <%= render :partial => "comment", :locals => { :comment => comment } %>
    <% } %>
  </div>
  <br /><br />

  <a href="#" onclick="$('comment_form').appear({ duration: 0.6 });">
    Want to comment?
  </a>

  <div id="comment_form" style="display: none;">
    <%= render :partial => "comment_form", :locals => { :id => @blog.id } %>
  </div>
</div>
