<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{ Simplic.IT } - <%= controller.name %> - <%= params[:action] %></title>
  <%= stylesheet_link_tag "screen" %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag "ie" %>
  <![endif]-->
  <%= stylesheet_link_tag "style"%>

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <div class="container">
    <%= image_tag "logo.png" %>
    <ul class="menu">
      <%= menu_link "Home", :action => :index, :controller => :home %>
      <%= menu_link "Freelance", :action => :freelance, :controller => :home %>
      <%= menu_link "Resume", :action => :resume, :controller => :home %>
      <%= menu_link "LiveLine", :controller => :liveline %>
      <%= menu_link "Tools", :controller => :contact %>
      <%= menu_link "Contact", :controller => :contact %>
    </ul>
    <br class="clear" />
    <br />

    <!-- start content -->
    <%= yield %>
    
  </div>
  <br />

  <div class="footer">
    <div class="container">
      <span style="float: left;">
Not <%= link_to "#acta", :controller => :home, :action => :copyright %> compliant.
      </span>
      <span style="float: right;">&pi;</span>
    </div>
  </div>
  
  <script type="text/javascript">
    document.observe("dom:loaded", function() {
      // observe the menu for mouse overs
      $$('ul.menu li').each(function(item) {
        if ( !item.hasClassName("selected") ) {
          item.observe("mouseover", function() {
            item.setStyle('color: #36576b');
          });
          item.observe("mouseout", function() {
            item.setStyle('color: white');
          });
        }
      });

      // observer all elements with a data-url, the want to be clicked
      $$('*[data-url]').each(function(item) {
        item.observe("click", function() { document.location.href=item.getAttribute("data-url"); });
        item.setStyle('cursor: pointer');
      });
    });
  </script>
</body>
</html>
